.buttons-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  gap: 15px 8px;
  justify-content: start;
}
.button-three {
  width: 145px;
}
.button {
  background-color: var(--lightgrey);
  color: var(--black);
  padding: 6px 22px;
  line-height: 1.63;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  transition: background-color var(--cubic-bezier), color var(--cubic-bezier),
    box-shadow var(--cubic-bezier);
}

.button:hover,
.button:focus {
  background-color: var(--lightblue);
  color: var(--white);
  box-shadow: var(--buttons-shadow);
}

@media screen and(min-width:768px) {
  .buttons-panel {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
  }
}
