.footer {
  background-color: var(--darkblue);
}
.footer-contacts {
  display: block;
}
.footer__container {
  display: flex;
  color: var(--white);
  padding: 60px 0;
  align-items: baseline;
}
.footer__adress {
  max-width: 251px;
  margin-top: 9px;
}
.footer__adress-links {
  max-width: 151px;
  margin-top: 5px;
}
.footer__adress-number {
  margin-top: 2px;
}
