.background-header {
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and(min-width:768px) {
  .background-header {
    padding: 17px 0;
  }
}

@media screen and(min-width:1200px) {
  .background-header {
    padding: 24px 0;
  }
}
