.my-form__label .my-form__fieldset {
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.69;
}

.my-form .my-form__label {
  position: absolute;
  top: -20px;
}
.my-form__label {
  color: var(--grey);
}
