.newsletter {
  display: flex;
  position: relative;
  margin-left: 78px;
}

.newsletter__fieldset {
  position: absolute;
  display: flex;
  width: 358px;
  height: 50px;
  border-color: var(--grey);
  border-radius: 4px;
  margin-top: 35px;
}

.newsletter__input {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  outline: 0;
  color: var(--grey);
  margin-left: 16px;
}

.newsletter__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 20px;
  margin-top: 35px;
  margin-left: 365px;
  transition: box-shadow var(--cubic-bezier);
}

.newsletter__button:hover,
.newsletter__button:focus {
  box-shadow: var(--buttons-shadow);
}
