body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  background-color: var(--white);
  font-size: 14px;
  letter-spacing: 0.03em;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-headers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 50px;
}
