.slider {
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(255, 255, 255, 0)
    ),
    url(../images/mainwallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--client-borders);
  margin: 0 auto;
  padding: 200px 0;
}

.slider__heading {
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.25;
  text-align: center;
  color: var(--white);
  width: 696px;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    font-size: 26px;
  }
}
